.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.InputElement {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    font:inherit;
    padding: 6px 10px;
}

.InputError{
    border: 1px solid red;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Error{
    color:red;
    font:.7em;

}